#page-header {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(30, 67, 131, 0.8960961093421744) 100%
  );
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid gold;
  color: white;

  .title {
    color: black;
    font-size: 32px;
    text-decoration: none;
    font-family: "Cinzel", sans-serif;
  }

  nav {
    max-width: 1240px;
    margin: auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0 32px;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  li {
    list-style: none;
    margin: 0 48px;

    a {
      color: white;
      text-decoration: none;
      font-size: 22px;
      line-height: 38px;

      &:hover {
        color: black;
      }
    }
  }

  .open-modal {
    &:hover {
      color: green;
    }
  }
}
