@import "../../theme/config.scss/";

.btn {
  &--primary {
    &--solid {
      background: $FEESTBEZORGD_DARK_BLUE;
      border-radius: 3px;
      color: white;
      border: none;
      cursor: pointer;
      padding: 4px 8px;

      &:hover {
        filter: brightness(120%);
      }
    }

    &--pill {
      background: $FEESTBEZORGD_DARK_BLUE;
      border-radius: 20px;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        background: white;
        color: $FEESTBEZORGD_BLUE;
        border: 1px solid $FEESTBEZORGD_BLUE;
      }
    }
  }
  &--secondary {
    &--solid {
      background: $FEESTBEZORGD_ORANGE;
      color: white;
      border-radius: 3px;
      border: none;
      padding: 4px 8px;
      cursor: pointer;

      &:hover {
        filter: brightness(120%);
      }
    }
  }
  &--success {
    &--solid {
      background: $FEESTBEZORGD_GREEN;
      color: white;
      border-radius: 3px;
      border: none;
      padding: 4px 8px;
      cursor: pointer;

      &:hover {
        filter: brightness(120%);
      }
    }
  }
  &--danger {
    &--solid {
      background: red;
      border-radius: 3px;
      color: white;
      border: none;
      padding: 4px 8px;
      cursor: pointer;

      &:hover {
        filter: brightness(95%);
      }
    }
  }
  &--add {
    &--solid {
      background: $FEESTBEZORGD_BLUE;
      border-radius: 3px;
      color: white;
      border: none;
      padding: 4px 8px;
      cursor: pointer;
      &:hover {
        filter: brightness(95%);
      }
    }
  }
}
