.register-container {
  display: flex;
  justify-content: center;
  background: whitesmoke;
  padding: 24px 64px;
  border-radius: 8px;

  form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    align-items: center;

    button {
      margin: 16px;
    }
  }
}
