.order-item-container {
  list-style: none;
  padding: 4px 16px;
  margin: 4px 16px;
  background: whitesmoke;
  border-radius: 4px;

  .order-item-title {
    display: flex;
    align-items: center;
    cursor: pointer;

    .collapse-toggle {
      margin-right: 8px;
    }

    .title-tag {
      margin-right: 4px;
    }
  }

  .order-detail-item {
    display: flex;
    align-items: center;

    .order-detail-title {
      margin-right: 4px;
      font-weight: bold;
    }

    .payment-id {
      cursor: pointer;
    }
  }

  .products-list-container {
    display: flex;

    .products-list-tag {
      font-weight: bold;
      margin-right: 4px;
    }
    .products-list {
      padding: 0px;
      margin: 0px;
      list-style: none;

      .product-name {
        border-bottom: 1px solid black;
      }
    }
  }
}
