.login-container {
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    align-items: center;

    button {
      margin: 16px;
    }

    .login-error {
      color: red;
      font-size: small;
    }

    .link {
      text-decoration: none;
    }
  }
}
