.edit-customer-details-form {
  background: whitesmoke;
  padding: 16px;
  border-bottom: 16px;
  text-align: center;
  margin: 8px;
  width: 360px;

  .customer-details-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      display: block;
    }
  }
  .submit-button {
    margin-top: 16px;
    text-align: center;
  }
}
