.shoppingcart-dropdown {
  position: absolute;
  top: 60px;
  right: 4px;
  background-color: #ff9020;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.83);
}
